bin/
obj/
.vs/
.idea/
.vscode/
TestResults/
artifacts/

*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

VideoGameStoreSystem.Web/appsettings.Local.json
VideoGameStoreSystem.Web/appsettings.*.local.json

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
